


.cardsecdiv:hover{
   background-image: linear-gradient(to right, #4ead82d7, #49dd9ab6)
}



.carddivimage {
    position: relative;
    /* width: 400px;
    height: 200px; */
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;

}

.cardsecdiv:hover .carddivimage {
    transform: rotateY(-35deg);

}


.card-container {
    perspective: 300px;

}




/* text section */
