


.cardsecdiv:hover{
   background-image: linear-gradient(to right, #2B7753, #49dd9ab6)
}



.carddivimage {
    position: relative;
    /* width: 400px;
    height: 200px; */
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;

}

.cardsecdiv:hover .carddivimage {
    transform: rotateY(-35deg);

}


.card-container {
    perspective: 300px;

}






/* card section */
.container {
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  
